// Navigation Styles here

nav {
    display: flex;
    justify-content: space-around;
    .borderbottom();
    font-size: 15px;
    @media @phone{
        justify-content: center;
        
        padding-left: 10%;       
        align-content: center;
        font-size: 15px;
        flex-wrap: wrap;
        flex-direction: column;
        height: -25%;
    }
    a{
       display: flex;
       text-decoration: none;
       .margin();
       
       @media @phone{
       
        justify-content: center;
        width: 100%;
        justify-content: space-between;
        font-size:15px;
        flex-wrap:wrap;
        padding-top:15px;
        height: 10px;;
    
       }
        
.funbuslogo{
            display: flex;
            
       }
            @media @phone{
                
                display:flex;
                width: 10%;
                margin-bottom: 25px;
                justify-content: center;

                
            }
        }
        
    
    }

    
